@media (min-width: 840px) {
  .top-nav li {
    margin: 0 10px;
  }
  .top-nav .menu {
    width: auto;
    max-height: none;
    flex-direction: row;
  }
  .top-nav .menu-icon {
    display: none;
  }
  .logo img {
    width: 100px;
    height: 100px;
  }
}
